In [1]:

import types
import pandas as pd
from botocore.client import Config
import ibm_boto3

def __iter__(self): return 0

# @hidden_cell
# The following code accesses a file in your IBM Cloud Object Storage. It includes your credentials.
# You might want to remove those credentials before you share the notebook.
client_038d72830a6f42039c19a24a4e4ec827 = ibm_boto3.client(service_name='s3',
    ibm_api_key_id='R8Ye09UcM_jSWqzWYCP-PrbFKPm98Zzq0V7RS9y5hqdk',
    ibm_auth_endpoint="https://iam.cloud.ibm.com/oidc/token",
    config=Config(signature_version='oauth'),
    endpoint_url='https://s3-api.us-geo.objectstorage.service.networklayer.com')

body = client_038d72830a6f42039c19a24a4e4ec827.get_object(Bucket='demoprojects-donotdelete-pr-zvbwrbcooxg4zk',Key='annual-balance-sheets-and-accumulation-accounts-200817-provisional-csv.csv')['Body']
# add missing __iter__ method, so pandas accepts body as file-like object
if not hasattr(body, "__iter__"): body.__iter__ = types.MethodType( __iter__, body )

df_data_1 = pd.read_csv(body)
df_data_1.head()

,Year,Institutional_sector_name,Institutional_sector_code,Descriptor,SNA08TRANS,Asset_liability_code,Status,Values
0,2008.03,Corporate business enterprises,141,Capital Account Opening balances Produced non-...,LS00000,AN10000,REVISED,225544
1,2009.03,Corporate business enterprises,141,Capital Account Opening balances Produced non-...,LS00000,AN10000,REVISED,243315
2,2010.03,Corporate business enterprises,141,Capital Account Opening balances Produced non-...,LS00000,AN10000,REVISED,259381
3,2011.03,Corporate business enterprises,141,Capital Account Opening balances Produced non-...,LS00000,AN10000,REVISED,262596
4,2012.03,Corporate business enterprises,141,Capital Account Opening balances Produced non-...,LS00000,AN10000,REVISED,267100